.by {
    position: fixed;
    bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

body {
    background-color: #A7CCED;
    color: #82A0BC;
}

.main-content {
    background-color: #545E75;
}

.interest-img {
    max-height: 10vh;
    max-width: 10vw;
}

.pic-div {
    padding: 0.3em;
    background-color: lightgray;
    border-radius: 5px;

}

.grid-item { width: 150px; }

.add-pic {

}

.pic-div-content {
    width: 95%;
    margin: 0.1em auto;
    border: solid whitesmoke 1px;
    padding: 0.5em;
}


.pic-title {
    overflow-wrap:break-word;
}