.by {
    position: fixed;
    bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

body {
    background-color: #A7CCED;
    color: #82A0BC;
}

.main-content {
    background-color: #545E75;
}

.interest-img {
    max-height: 10vh;
    max-width: 10vw;
}

.pic-div {
    padding-bottom: 2em;
}

.grid-item { width: 200px; }

.add-pic {

}

